/* Navigation a gauche de l'ecran*/
#nav-left {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  width: 20%;
  height: 100vh;
  padding-top: 50px;
  background-color: #1d2126;
  /* Image de fond */
  /* Conformement au condition d'utilisation de l'image d'écrite sur
  https://commons.wikimedia.org/w/index.php?title=File:Atom_editor_logo.svg&lang=fr&uselang=fr#Conditions_d%E2%80%99utilisation
  celle si n'est pas soumit à la protection des droit d'auteur (car dans le domaine public)*/
  background-image: url(../images/145x52-atom-title.png);
  background-repeat: no-repeat ;
  background-position : 50% 35px;
}
#nav-left ul {
  flex-grow: 1;
  padding-left: 10%;
  list-style-type: none;
}
#nav-left li {
  margin: 0px;
  padding: 5px 0px;
}
#nav-left a {
  color: #d19a66;
}
#nav-left a:hover {
  color: #d1d3d7;
}

#nav-left li ul {
  padding-left: 17px;
  list-style-image: url(../images/icons/group.png)
}
#nav-left ul ul ul{
  list-style-image: url(../images/icons/group2.png)
}
#nav-left li li {
  margin:0px;
  padding: 3px;
}
/* On efface les details des pages contenu par l'ul tertiare
 lorsque l'on n'est pas dessus*/
#nav-left ul ul ul:not(#display) {
  display: none;
}
/* la page courante */
#nav-left .selected {
  color: #b5b7bc;
  pointer-events: none;
}
/* Barre de recherche*/

#nav-left form {
  display: flex;
  padding: 5px 5px;
  margin-top: 70px;
  margin-left: 5%;
  margin-bottom: 20px;
}

#nav-left .search {
  background-color: #21252b;
  height: 1.5rem;
  width: 75%;
  border: 1px solid #282c34;
  color: #b5b7bc;
}
#nav-left .search:hover {
  border: 1px solid #b5b7bc;
  transition-delay: 0.07s;

}
#nav-left .search:focus {
  border: 1px solid #d19a66;

}
#nav-left button.submit {
  width: 1.5rem;
  height: 1.5rem;
  color: #b5b7bc;
  cursor: pointer;
  background: none;
  border: none;
}
#nav-left button.submit:hover {
  color: #d19a66;
}

#nav-left button.bottom {
  margin: 150px 5px;
  font-size: 1.2rem;
  background-color: #21252b;
  border: 1px solid #282c34;
  color: #d19a66;
}
#nav-left button.bottom:hover {
  transition-delay: 0.07s;
  border: 1px solid #d19a66;
}
#nav-left button.bottom:active {
  border: 1px solid #e06c75;
  color: #e06c75;
}



/* barre de navigation fléché à la fin du document*/
#nav-bottom {
  display: flex;
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 50px;
  background-color: #282c34;
}

#nav-bottom a{
  margin: 0px auto ;
  color: #93b8c9;
  font-size: 2rem;
}
#nav-bottom a:hover{
  margin: auto;
  font-size: 2.5rem;
}

@media (max-width: 666px) {
  #nav-left {
    background-image: url(../images/icons/atom-icon.png);
  }
}
