html, body {
  background-color: #21252b;
  color: #b5b7bc;
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: : 100%;
  font-family: Arial, Helvetica, sans-serif;
}

body::-webkit-scrollbar {
  width: 1rem;
}
body::-webkit-scrollbar-track {
  background: #1d2126;
}
body::-webkit-scrollbar-thumb {
  background: #323232;
}


h1 {
  color: #d19a66;
}

a {
  color: #d19a66;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  color: #93b8c9;
}
a:active {
  color: #e06c75;
}

button {
  cursor: pointer;
}

.banner {
  display: flex;
  background-color: #323232;
  width: 100%;
  margin: auto;
  padding: 0px;
  overflow: hidden;
}
main {
  padding: 20px;
  margin: 180px 20% 0 20%;
  background-color: #282c34;
}

@media (max-width: 1200px) {
  main {
    margin-right: 0;
  }
}
