
header {
  background-color: #21252b;
  padding-left: 20%;
  margin: 0px;

}

header h1 {
  margin: 0px;
  padding: 50px 0px 20px 10%;
}


header ul{
  display: flex;
  height: 20%;
  padding: 0px;
  margin: 0px;

}

header li {
  text-align: center;
  width: 25%;
  height: 100%;
  list-style-type: none;
}


header li a {
  color: #b5b7bc;
  height: 100%;
  width: 100%;
  text-decoration: none;
  font-size: 18px;
  display:inline-block;
  line-height: 60px;
  font-size: 1rem;
}
header li:hover a{
  transition-delay: 0.1s;
  color: #b5b7bc;
  text-decoration: none;
}
header li:active a {
  color: #d19a66;
  background-color: #21252b;
  transition-delay: 0.1s;
  text-decoration: none;
}
header li span {
  display: block;
  width: 0%;
  height: 2px;
  margin: auto;
  transition: width 1s ease-out 0.1s;
  background-color: #d19a66;
}
header li:hover span {
  width: 100%;
  left: 100%;
  margin-right:
  transition: 0.1s;

}


header .selected {
  background-color: #282c34;
  pointer-events: none;
}
