
header {
  top: 0;
  background-color: #21252b;
  padding: 0 20%;
  margin: 0;
  width: 60%;
  transition: width 1s ease-in-out 0.07s;
}
@media (max-width: 1000px) {
  header {
    width: 80%;
    transition: width 1s ease-in-out 0.07s;
  }
}

header h1 {
  font-size: 2.7rem;
  line-height: 2.7rem;
  margin: 1.2rem auto;
  text-align: center;
  width: 100%;
  padding: 17px 0;
  background-color: #1d2126;
}


header ul{
  display: flex;
  height: 4.5rem;
  width: 100%;
  padding: 0;
  margin: 0;
}

header li {
  width: 100%;
  height: 100%;
  line-height: 4.5rem;
  list-style-type: none;
  border-bottom: 2px solid #1d2126;
}

header a:hover {
  text-decoration: none;
}

header li a {
  display: block;
  text-align: center;
  width: 100%;
  height: 100%;
  font-size: 18px;
  color: #b5b7bc;
  border-bottom: 5px solid #282c34;
}
header li a:hover{
  transition-delay: 0.07s;
  text-decoration: none;
  color: #b5b7bc;
}
header li a:active {
  color: #d19a66;
  background-color: #21252b;
  transition-delay: 0.07s;
}
header li span {
  display: block;
  width: 0%;
  height: 2px;
  margin: 4px auto;
  border-radius: 30px;
  transition: width 1s ease-out 0.07s;
  background-color: #d19a66;
}
header li:hover span {
  width: 100%;
}

header span.line {
  display: block;
  background-color: #21252b;
  width: 100%;
  margin-top: 5px;
  border-top: 5px solid #282c34;
  height: 2px;
}

header .selected {
  background-color: #282c34;
  box-shadow: 0 20px 0 #282c34;
  pointer-events: none;
  border-top-left-radius: 20px;
  border-top-right-radius:  20px;
  border-bottom: none;
}
