html, body {
  background-color: #21252b;
  color: #b5b7bc;
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
  text-align: justify;
}
body {
  /* On le mets uniquement dans body pour ne pas casser l'evennement javascript onScroll.*/
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 1rem;
}
body::-webkit-scrollbar-track {
  background: #1d2126;
}
body::-webkit-scrollbar-thumb {
  background: #323232;
}


h1 {
  color: #cc8d51;
}
h2 {
  margin-left: 2rem;
}
h3 {
  margin-left: 3rem;
}
p {
  margin: 1rem 4rem;
  text-indent: 2rem;
}
main ul {
  margin-left: 10%;
  margin-right: 10%;
}
main ul ul{
  margin-left: 1rem;
}
main li {
  font-style: italic;
  margin-bottom: 1rem;
}
main ul p {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-style: normal;
  margin-left: 0;
  text-indent: 1rem;
}
footer {
  text-align: center;
    background-color: #4b390f;
    margin: 10% 50px;
    padding: 0.1rem 0;
    border-radius: 10px;
}

a {
  color: #d19a66;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  color: #d1d3d7;
  text-decoration: underline;
  transition: 0.3s;
}
a:active {
  color: #e06c75;
}

button {
  cursor: pointer;
}

.banner {
  display: flex;
  background-color: #323232;
  width: 100%;
  height: 200px;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
main {
  position: relative;
  padding: 20px 20px 200px 20px;
  margin: 0 20% 0 20%;
  min-height: 50vh;
  background-color: #282c34;

  transition: margin-right 1s ease-in-out 0.07s;
}

@media (max-width: 1000px) {
  main {
    margin-right: 0;
  }
}

aside {
  background-color: #0d4545;
  margin: 0 50px;
  padding: 10px 0;
  border-radius: 10px;
}
aside a {
  display: block;
  color: #d1d3d7;
  text-align: center;
}
